PORT=5001
DATABASE_URL="postgresql://postgres.okzgkdlftosnlkzozhls:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require&uselibpqcompat=true"
# DATABASE_URL_REPLICA="postgresql://username:password@host:5432/database?sslmode=require"
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="30d"
REFRESH_TOKEN_DAYS=30
GEMINI_API_KEY=""
CLIENT_URL="http://localhost:3000"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Admin"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
