PORT=5000
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres?sslmode=require"
# DATABASE_URL_REPLICA="postgresql://username:password@host:5432/database?sslmode=require"
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="30d"
CLIENT_URL="http://localhost:8081"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Admin"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
